html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background: #000;
    display: table;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: "Droid Sans","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 400;
    color: #333332;
    font-size: 18px;
    line-height: 1.4;
}
.container {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    background: rgba(0,0,0,0.5);
}
.error-message {
    overflow: hidden;
    margin: 0 120px;
}
.error-message-wrap {
    margin-left: 185px;
}
p {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    margin: 0 0 2px;
    letter-spacing: -0.05em;
}
.error-small {
    display: block;
    color: #fff;
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: -0.03em;
    font-weight: 400;
}
a:link, a:hover, a:active, a:visited {
    color: #fff;
    text-decoration: underline;
}